* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: mine1;
    src: url(Snow\ Traces.ttf);
}

@font-face {
    font-family: mine2;
    src: url(UrbanJungleDEMO.otf);
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    color: black;
    background-color: rgb(111, 192, 255);
    /* background-image: linear-gradient(rgb(64, 77, 255), white); */
}

h1 {
    font-size: 8vw;
    font-size: ;
    font-family: mine1, Arial, Helvetica, sans-serif;
}

main {
    float: right;
    width: 66%;
    height: auto;
    min-height: 800px;
    padding: 10px;
}

aside {
    float: left;
    width: 33%;
    height: auto;
    padding: 10px;
}

h3 {
    font-size: 32px;
    font-family: mine2, Arial, Helvetica, sans-serif;
}

#search-form {
    border-bottom: 2px solid black;
}

input {
    font-size: 20px;
    width: 100%;
    height: 40px;
}

#list-group-item {
    font-size: 20px;
    background-color: rgb(142, 199, 255);
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.btn-info {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background-color: blue;
    box-shadow: 2px 2px 2px black;
}

#current {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    align-items: flex-start;
    height: min-content;
    min-height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
    font-size: 28px;
}

#current-name {
    font-weight: bold;
    font-size: 30px;
}

#current-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

#current-conditions, #current-temp, #current-humidity, #current-wind {
    margin: 10px;
}

.forecast-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#forecast {
    min-height: 400px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#day1, #day2, #day3, #day4, #day5 {
    width: 180px;
    height: 250px;
    margin: 5px 2px;
    padding: 5px;
    background-image: linear-gradient(rgb(64, 77, 255), white);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .aside, main {
      width: 100%;
    }
}

@media screen and (min-width: 1100px) {
    h1 {
       font-size: 90px;
    }
}